
  <% include head.html %>
    <div class="container">
        <div class="jumbotron">
        <h1>FLYBird旅游平台</h1>
        <p>您身边的旅游专家顾问</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/login" role="button">现在登录</a>
          <a class="btn btn-lg btn-default" href="/reg" role="button">注册新用户</a>
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h2>旅游推荐</h2>
          <p>全国热门景点推荐，给您一个不一样的夏天。</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h2>全国天气查询</h2>
          <p>实时掌握天气情况，让您的出行有备无患。全国空气质量轻松掌握，让您选择一个更美好的日子出行。</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h2>旅游交友</h2>
          <p>结交各地旅游，让您的旅行不再孤单。</p>
        </div>
      </div>
    </div>
  <% include foot.html %>


